[submodule "public"]
	path = public
	url = https://github.com/AFistfulOfLinks/afistfuloflinks.github.io.git
	branch = master
[submodule "themes/hugo-vitae-afol"]
	path = themes/hugo-vitae-afol
	url = https://github.com/AFistfulOfLinks/hugo-vitae-afol.git
