{{ define "main" }}

<p>A Fistful of Links is a weekly newsletter about leadership, technology, books, and anything else we felt compelled to share with others, brought to you by <a href="https://twitter.com/OgMaciel">Og Maciel</a> and <a href="https://twitter.com/MirekDlugosz">Mirek Dlugosz</a>.</p>

<p>Articles in this issue:</p>
<ol>
{{ range $link := $.Page.Params.links }}
    {{ $linkref := print "/links/" $link }}
    {{ with $.Site.GetPage $linkref }}
        <li>{{ .Title }}</li>
    {{ end }}
{{ end }}
</ol>

<p>Happy reading!</p>

<p>
{{- range .AlternativeOutputFormats -}}
{{- if eq .Rel "canonical" -}}
{{- $url := urls.Parse .Permalink -}}
{{- $postlink := printf "https://afistfuloflinks.github.io%s" $url.Path -}}
<a href="{{ $postlink }}">{{ $postlink }}</a>
{{- end -}}
{{- end -}}</p>
{{ end }}
