{{ define "main" }}
{{ $tagsScratch := newScratch }}
<p class="edition">
Year {{ $.Page.Params.year }} - Edition {{ $.Page.Params.edition }}
<p>

<p><strong>A Fistful of Links</strong> is a weekly newsletter about leadership, technology, books, and anything else we felt compelled to share with others, brought to you by <a href="https://twitter.com/OgMaciel">Og Maciel</a> and <a href="https://mirekdlugosz.com/">Mirek Długosz</a>.</p>

{{ range $link := $.Page.Params.links }}
    {{ $linkref := print "/links/" $link }}
    {{ with $.Site.GetPage $linkref }}
        {{ partial "single-link" . }}

        {{ range $tag := .Param "tags" }}
            {{ if in ($tagsScratch.Get "tags") $tag }}
            {{ else }}
                {{ $tagsScratch.Add "tags" (slice $tag) }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

<p>Happy reading!</p>
<p><strong>The Editors at A Fistful of Links</strong></p>

<div class="tags">
    <div class="taxosfloating_left">
        <p>Tags</p>
    </div>
    <div class="termsfloating_right">
        <p>
        {{ range $tag := sort ($tagsScratch.Get "tags") }}
            {{ with $.Site.GetPage (printf "/tags/%s" (urlize $tag)) }}
            <a href="{{ .Permalink }}">{{ $tag }}</a>
            {{ end }}
        {{ end }}
        </p>
    </div>
</div>
<div class="clearit"></div>
{{ end }}
